.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.navbar-section {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.navbar-section svg {
    height: 40px;
}